/******************************************* application styles *****************************************/

html, body
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y: scroll;
	font-family: Arial, Helvetica, sans-serif;
}

tbody tr:hover {
    background-color: #ccc;
}

tbody tr{
	background-color: #FFFFFF;
}

.clicked-tr{
	background-color: #ccc;
}

/******************************************** overriden styles ******************************************/

.ui-mobile .ui-page
{
	width: 96%;
	margin-left :2%;
	margin-right :2%;
}